{% extends "base.html" %}
{% load static %}

{% block title %}{{ page.title }} | ML DEVLOG{% endblock %}
{% block meta_description %}{{ page.meta_description }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'core/css/page.css' %}">
{% endblock %}

{% block body_class %}dynamic-page {% endblock %}

{% block content %}
<section class="page-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <div class="page-container tech-frame">
                    <h1 class="page-title">{{ page.title }}</h1>
                    <div class="page-divider"></div>
                    
                    <div class="page-content">
                        {{ page.rendered_content|safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
