
.icon-streamlit:before { content: '\e800'; } /* '' */
.icon-fastapi:before { content: '\e801'; } /* '' */
.icon-django:before { content: '\e804'; } /* '' */
.icon-pandas:before { content: '\e807'; } /* '' */
.icon-tensorflow:before { content: '\e809'; } /* '' */
.icon-anaconda:before { content: '\e80c'; } /* '' */
.icon-arduino:before { content: '\e80d'; } /* '' */
.icon-plotly:before { content: '\e80e'; } /* '' */
.icon-tailwindcss:before { content: '\e80f'; } /* '' */
.icon-numpy:before { content: '\e811'; } /* '' */
.icon-scipy:before { content: '\e814'; } /* '' */
.icon-jinja:before { content: '\e815'; } /* '' */
.icon-flask:before { content: '\e816'; } /* '' */
.icon-railway:before { content: '\e817'; } /* '' */
.icon-gunicorn-icon:before { content: '\e818'; } /* '' */
.icon-chartjs:before { content: '\e81a'; } /* '' */
.icon-anthropic:before { content: '\e81b'; } /* '' */
.icon-airtable:before { content: '\e81c'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-linux:before { content: '\f17c'; } /* '' */
.icon-free-code-camp:before { content: '\f2c5'; } /* '' */
